body .main{
  display: grid;
  grid-template-areas: 
  "sidebar topbar"
  "sidebar headerbar"
   "sidebar content";
  grid-template-columns: 80px 1fr;
  grid-template-rows: 64px 64px 1fr;
}
.sidebar{
grid-area: sidebar;
}
.topbar{
grid-area: topbar;
}
.content{
  grid-area: content;
}
.headerbar{
  grid-area: headerbar;
}
*{
  font-family: 'Figtree', sans-serif;
}
.table{
  thead tr{
    th{
      background-color: #F6F6F6;
    }
  }
  tbody tr:nth-child(even) td{
    background-color: #FBFBFB;
  }
}
.login-bg-overlay{
  background-image: url("../assets/login.jpg");
  background-size: cover;
  height: 100dvh;
}